/*
 * searchButton in indexRoom
 */
.searchButton{ 
    align-self: center; 
    text-align: center;
}

/*
 * Container in Room
 */
.containerDatesRoom{
    border:1px solid #000000;
}

/*
 *Message when there aren't rooms
 */
.errorRooms{
    text-align: center;
    color:red
}